<div class="header-container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Vertically Scalable Architecture in Angular</span>
          
        </mat-toolbar-row>
        <mat-toolbar-row class="domain-nav">
            <button mat-raised-button color="link" routerLink="/Vertical1"> Vertical 1</button>
            <button mat-raised-button color="link" routerLink="/Vertical2"> Vertical 2</button>
            <button mat-raised-button color="link" routerLink="/Vertical3"> Vertical 3</button>
            <button mat-raised-button color="link" routerLink="/Vertical4"> Vertical 4</button>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
